<style id="themes">
    html {
      
--stackblitz-blue: #1389fd;
--foreground: #cccccc;
--errorForeground: #f48771;
--descriptionForeground: #ccccccb3;
--icon-foreground: #c5c5c5;
--focusBorder: #4288fdcc;
--contrastBorder: null;
--contrastActiveBorder: null;
--selection-background: null;
--textSeparator-foreground: #ffffff2e;
--textLink-foreground: #3794ff;
--textLink-activeForeground: #3794ff;
--textPreformat-foreground: #d7ba7d;
--textBlockQuote-background: #7f7f7f1a;
--textBlockQuote-border: #007acc80;
--textCodeBlock-background: #0a0a0a66;
--widget-shadow: #000000;
--input-background: #3c3c3c;
--input-foreground: #cccccc;
--input-border: null;
--inputOption-activeBorder: #007acc00;
--inputOption-activeBackground: #4288fd66;
--input-placeholderForeground: #a6a6a6;
--inputValidation-infoBackground: #063b49;
--inputValidation-infoForeground: null;
--inputValidation-infoBorder: #007acc;
--inputValidation-warningBackground: #352a05;
--inputValidation-warningForeground: null;
--inputValidation-warningBorder: #b89500;
--inputValidation-errorBackground: #5a1d1d;
--inputValidation-errorForeground: null;
--inputValidation-errorBorder: #be1100;
--dropdown-background: #3c3c3c;
--dropdown-listBackground: null;
--dropdown-foreground: #f0f0f0;
--dropdown-border: #3c3c3c;
--checkbox-background: #3c3c3c;
--checkbox-foreground: #f0f0f0;
--checkbox-border: #3c3c3c;
--pickerGroup-foreground: #3794ff;
--pickerGroup-border: #3f3f46;
--button-foreground: #ffffff;
--button-background: #4288fd;
--button-hoverBackground: #5896ff;
--badge-background: #4d4d4d;
--badge-foreground: #ffffff;
--scrollbar-shadow: #000000;
--scrollbarSlider-background: #79797966;
--scrollbarSlider-hoverBackground: #646464b3;
--scrollbarSlider-activeBackground: #bfbfbf66;
--progressBar-background: #0e70c0;
--editorError-foreground: #f48771;
--editorError-border: null;
--editorWarning-foreground: #cca700;
--editorWarning-border: null;
--editorInfo-foreground: #75beff;
--editorInfo-border: null;
--editorHint-foreground: #eeeeeeb3;
--editorHint-border: null;
--editor-background: #1e1e1e;
--editor-foreground: #d4d4d4;
--editorWidget-background: #252526;
--editorWidget-foreground: #cccccc;
--editorWidget-border: #454545;
--editorWidget-resizeBorder: null;
--editor-selectionBackground: #264f78;
--editor-selectionForeground: null;
--editor-inactiveSelectionBackground: #3a3d41;
--editor-selectionHighlightBackground: #add6ff26;
--editor-selectionHighlightBorder: null;
--editor-findMatchBackground: #515c6a;
--editor-findMatchHighlightBackground: #ea5c0055;
--editor-findRangeHighlightBackground: #3a3d4166;
--editor-findMatchBorder: null;
--editor-findMatchHighlightBorder: null;
--editor-findRangeHighlightBorder: null;
--searchEditor-findMatchBackground: #ea5c0038;
--searchEditor-findMatchBorder: null;
--editor-hoverHighlightBackground: #264f7840;
--editorHoverWidget-background: #252526;
--editorHoverWidget-foreground: #cccccc;
--editorHoverWidget-border: #454545;
--editorHoverWidget-statusBarBackground: #2c2c2d;
--editorLink-activeForeground: #4e94ce;
--editorLightBulb-foreground: #ffcc00;
--editorLightBulbAutoFix-foreground: #75beff;
--diffEditor-insertedTextBackground: #9bb95533;
--diffEditor-removedTextBackground: #ff000033;
--diffEditor-insertedTextBorder: null;
--diffEditor-removedTextBorder: null;
--diffEditor-border: null;
--list-focusBackground: #062f4a;
--list-focusForeground: null;
--list-activeSelectionBackground: #094771;
--list-activeSelectionForeground: #ffffff;
--list-inactiveSelectionBackground: #37373d;
--list-inactiveSelectionForeground: null;
--list-inactiveFocusBackground: null;
--list-hoverBackground: #2a2d2e;
--list-hoverForeground: null;
--list-dropBackground: #383b3d;
--list-highlightForeground: #0097fb;
--list-invalidItemForeground: #b89500;
--list-errorForeground: #f88070;
--list-warningForeground: #cca700;
--listFilterWidget-background: #653723;
--listFilterWidget-outline: #00000000;
--listFilterWidget-noMatchesOutline: #be1100;
--list-filterMatchBackground: #ea5c0055;
--list-filterMatchBorder: null;
--tree-indentGuidesStroke: #585858;
--menu-border: null;
--menu-foreground: #cccccc;
--menu-background: #252526;
--menu-selectionForeground: #ffffff;
--menu-selectionBackground: #094771;
--menu-selectionBorder: null;
--menu-separatorBackground: #bbbbbb;
--editor-snippetTabstopHighlightBackground: #7c7c7c4d;
--editor-snippetTabstopHighlightBorder: null;
--editor-snippetFinalTabstopHighlightBackground: null;
--editor-snippetFinalTabstopHighlightBorder: #525252;
--breadcrumb-foreground: #cccccccc;
--breadcrumb-background: #1e1e1e;
--breadcrumb-focusForeground: #e0e0e0;
--breadcrumb-activeSelectionForeground: #e0e0e0;
--breadcrumbPicker-background: #252526;
--merge-currentHeaderBackground: #40c8ae80;
--merge-currentContentBackground: #40c8ae33;
--merge-incomingHeaderBackground: #40a6ff80;
--merge-incomingContentBackground: #40a6ff33;
--merge-commonHeaderBackground: #60606066;
--merge-commonContentBackground: #60606029;
--merge-border: null;
--editorOverviewRuler-currentContentForeground: #40c8ae80;
--editorOverviewRuler-incomingContentForeground: #40a6ff80;
--editorOverviewRuler-commonContentForeground: #60606066;
--editorOverviewRuler-findMatchForeground: #d186167e;
--editorOverviewRuler-selectionHighlightForeground: #a0a0a0cc;
--minimap-findMatchHighlight: #d18616;
--minimap-selectionHighlight: #264f78;
--minimap-errorHighlight: #ff1212b3;
--minimap-warningHighlight: #cca700;
--minimap-background: null;
--minimapSlider-background: null;
--minimapSlider-hoverBackground: null;
--minimapSlider-activeBackground: null;
--problemsErrorIcon-foreground: #f48771;
--problemsWarningIcon-foreground: #cca700;
--problemsInfoIcon-foreground: #75beff;
--activityBarBadge-background: #007acc;
--editorIndentGuide-activeBackground: #707070;
--editorIndentGuide-background: #404040;
--settings-numberInputBackground: #292929;
--settings-textInputBackground: #292929;
--sideBarTitle-foreground: #bbbbbb;
--statusBarItem-remoteBackground: #16825d;
--statusBarItem-remoteForeground: #ffffff;
--activityBar-activeBorder: #ffffff;
--activityBar-background: #333333;
--activityBar-dropBackground: #ffffff1f;
--activityBar-foreground: #ffffff;
--activityBar-inactiveForeground: #ffffff66;
--activityBarBadge-foreground: #ffffff;
--debugExceptionWidget-background: #420b0d;
--debugExceptionWidget-border: #a31515;
--debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
--debugIcon-breakpointDisabledForeground: #848484;
--debugIcon-breakpointForeground: #e51400;
--debugIcon-breakpointStackframeForeground: #89d185;
--debugIcon-breakpointUnverifiedForeground: #848484;
--debugIcon-continueForeground: #75beff;
--debugIcon-disconnectForeground: #f48771;
--debugIcon-pauseForeground: #75beff;
--debugIcon-restartForeground: #89d185;
--debugIcon-startForeground: #89d185;
--debugIcon-stepBackForeground: #75beff;
--debugIcon-stepIntoForeground: #75beff;
--debugIcon-stepOutForeground: #75beff;
--debugIcon-stepOverForeground: #75beff;
--debugIcon-stopForeground: #f48771;
--debugToolBar-background: #333333;
--editor-focusedStackFrameHighlightBackground: #7abd7a4d;
--editor-foldBackground: #264f784d;
--editor-lineHighlightBorder: #282828;
--editor-rangeHighlightBackground: #ffffff0b;
--editor-stackFrameHighlightBackground: #ffff0033;
--editor-symbolHighlightBackground: #ea5c0055;
--editor-wordHighlightBackground: #575757b8;
--editor-wordHighlightStrongBackground: #004972b8;
--editorActiveLineNumber-foreground: #c6c6c6;
--editorBracketMatch-background: #0064001a;
--editorBracketMatch-border: #888888;
--editorCodeLens-foreground: #999999;
--editorCursor-foreground: #aeafad;
--editorGroup-border: #444444;
--editorGroup-dropBackground: #53595d80;
--editorGroupHeader-noTabsBackground: #1e1e1e;
--editorGroupHeader-tabsBackground: #252526;
--editorGutter-addedBackground: #587c0c;
--editorGutter-background: #1e1e1e;
--editorGutter-commentRangeForeground: #c5c5c5;
--editorGutter-deletedBackground: #94151b;
--editorGutter-modifiedBackground: #0c7d9d;
--editorLineNumber-activeForeground: #c6c6c6;
--editorLineNumber-foreground: #858585;
--editorMarkerNavigation-background: #2d2d30;
--editorMarkerNavigationError-background: #f48771;
--editorMarkerNavigationInfo-background: #75beff;
--editorMarkerNavigationWarning-background: #cca700;
--editorOverviewRuler-addedForeground: #587c0c99;
--editorOverviewRuler-border: #7f7f7f4d;
--editorOverviewRuler-bracketMatchForeground: #a0a0a0;
--editorOverviewRuler-deletedForeground: #94151b99;
--editorOverviewRuler-errorForeground: #ff1212b3;
--editorOverviewRuler-infoForeground: #75beff;
--editorOverviewRuler-modifiedForeground: #0c7d9d99;
--editorOverviewRuler-rangeHighlightForeground: #007acc99;
--editorOverviewRuler-warningForeground: #cca700;
--editorOverviewRuler-wordHighlightForeground: #a0a0a0cc;
--editorOverviewRuler-wordHighlightStrongForeground: #c0a0c0cc;
--editorPane-background: #1e1e1e;
--editorRuler-foreground: #5a5a5a;
--editorSuggestWidget-background: #252526;
--editorSuggestWidget-border: #454545;
--editorSuggestWidget-foreground: #d4d4d4;
--editorSuggestWidget-highlightForeground: #0097fb;
--editorSuggestWidget-selectedBackground: #062f4a;
--editorUnnecessaryCode-opacity: #000000aa;
--editorWhitespace-foreground: #e3e4e229;
--extensionBadge-remoteBackground: #007acc;
--extensionBadge-remoteForeground: #ffffff;
--extensionButton-prominentBackground: #327e36;
--extensionButton-prominentForeground: #ffffff;
--extensionButton-prominentHoverBackground: #28632b;
--gitDecoration-addedResourceForeground: #81b88b;
--gitDecoration-conflictingResourceForeground: #6c6cc4;
--gitDecoration-deletedResourceForeground: #c74e39;
--gitDecoration-ignoredResourceForeground: #8c8c8c;
--gitDecoration-modifiedResourceForeground: #e2c08d;
--gitDecoration-submoduleResourceForeground: #8db9e2;
--gitDecoration-untrackedResourceForeground: #73c991;
--imagePreview-border: #80808059;
--menubar-selectionBackground: #ffffff1a;
--menubar-selectionForeground: #cccccc;
--minimapGutter-addedBackground: #587c0c;
--minimapGutter-deletedBackground: #94151b;
--minimapGutter-modifiedBackground: #0c7d9d;
--notificationCenterHeader-background: #303031;
--notificationLink-foreground: #3794ff;
--notifications-background: #252526;
--notifications-border: #303031;
--notifications-foreground: #cccccc;
--notificationsErrorIcon-foreground: #f48771;
--notificationsInfoIcon-foreground: #75beff;
--notificationsWarningIcon-foreground: #cca700;
--panel-background: #1e1e1e;
--panel-border: #80808059;
--panel-dropBackground: #ffffff1f;
--panelTitle-activeBorder: #e7e7e7;
--panelTitle-activeForeground: #e7e7e7;
--panelTitle-inactiveForeground: #e7e7e799;
--peekView-border: #007acc;
--peekViewEditor-background: #001f33;
--peekViewEditor-matchHighlightBackground: #ff8f0099;
--peekViewEditorGutter-background: #001f33;
--peekViewResult-background: #252526;
--peekViewResult-fileForeground: #ffffff;
--peekViewResult-lineForeground: #bbbbbb;
--peekViewResult-matchHighlightBackground: #ea5c004d;
--peekViewResult-selectionBackground: #3399ff33;
--peekViewResult-selectionForeground: #ffffff;
--peekViewTitle-background: #1e1e1e;
--peekViewTitleDescription-foreground: #ccccccb3;
--peekViewTitleLabel-foreground: #ffffff;
--quickInput-background: #252526;
--settings-checkboxBackground: #3c3c3c;
--settings-checkboxBorder: #3c3c3c;
--settings-checkboxForeground: #f0f0f0;
--settings-dropdownBackground: #3c3c3c;
--settings-dropdownBorder: #3c3c3c;
--settings-dropdownForeground: #f0f0f0;
--settings-dropdownListBorder: #454545;
--settings-headerForeground: #e7e7e7;
--settings-modifiedItemIndicator: #0c7d9d;
--settings-numberInputForeground: #cccccc;
--settings-textInputForeground: #cccccc;
--sideBar-background: #252526;
--sideBar-dropBackground: #ffffff1f;
--sideBarSectionHeader-background: #80808033;
--statusBar-background: #007acc;
--statusBar-debuggingBackground: #cc6633;
--statusBar-debuggingForeground: #ffffff;
--statusBar-foreground: #ffffff;
--statusBar-noFolderBackground: #68217a;
--statusBar-noFolderForeground: #ffffff;
--statusBarItem-activeBackground: #ffffff2e;
--statusBarItem-hoverBackground: #ffffff1f;
--statusBarItem-prominentBackground: #00000080;
--statusBarItem-prominentForeground: #ffffff;
--statusBarItem-prominentHoverBackground: #0000004d;
--symbolIcon-arrayForeground: #cccccc;
--symbolIcon-booleanForeground: #cccccc;
--symbolIcon-classForeground: #ee9d28;
--symbolIcon-colorForeground: #cccccc;
--symbolIcon-constantForeground: #cccccc;
--symbolIcon-constructorForeground: #b180d7;
--symbolIcon-enumeratorForeground: #ee9d28;
--symbolIcon-enumeratorMemberForeground: #75beff;
--symbolIcon-eventForeground: #ee9d28;
--symbolIcon-fieldForeground: #75beff;
--symbolIcon-fileForeground: #cccccc;
--symbolIcon-folderForeground: #cccccc;
--symbolIcon-functionForeground: #b180d7;
--symbolIcon-interfaceForeground: #75beff;
--symbolIcon-keyForeground: #cccccc;
--symbolIcon-keywordForeground: #cccccc;
--symbolIcon-methodForeground: #b180d7;
--symbolIcon-moduleForeground: #cccccc;
--symbolIcon-namespaceForeground: #cccccc;
--symbolIcon-nullForeground: #cccccc;
--symbolIcon-numberForeground: #cccccc;
--symbolIcon-objectForeground: #cccccc;
--symbolIcon-operatorForeground: #cccccc;
--symbolIcon-packageForeground: #cccccc;
--symbolIcon-propertyForeground: #cccccc;
--symbolIcon-referenceForeground: #cccccc;
--symbolIcon-snippetForeground: #cccccc;
--symbolIcon-stringForeground: #cccccc;
--symbolIcon-structForeground: #cccccc;
--symbolIcon-textForeground: #cccccc;
--symbolIcon-typeParameterForeground: #cccccc;
--symbolIcon-unitForeground: #cccccc;
--symbolIcon-variableForeground: #75beff;
--tab-activeBackground: #1e1e1e;
--tab-activeForeground: #ffffff;
--tab-activeModifiedBorder: #3399cc;
--tab-border: #252526;
--tab-inactiveBackground: #2d2d2d;
--tab-inactiveForeground: #ffffff80;
--tab-inactiveModifiedBorder: #3399cc80;
--tab-unfocusedActiveBackground: #1e1e1e;
--tab-unfocusedActiveForeground: #ffffff80;
--tab-unfocusedActiveModifiedBorder: #3399cc80;
--tab-unfocusedInactiveForeground: #ffffff40;
--tab-unfocusedInactiveModifiedBorder: #3399cc40;
--terminal-ansiBlack: #000000;
--terminal-ansiBlue: #2472c8;
--terminal-ansiBrightBlack: #666666;
--terminal-ansiBrightBlue: #3b8eea;
--terminal-ansiBrightCyan: #29b8db;
--terminal-ansiBrightGreen: #23d18b;
--terminal-ansiBrightMagenta: #d670d6;
--terminal-ansiBrightRed: #f14c4c;
--terminal-ansiBrightWhite: #e5e5e5;
--terminal-ansiBrightYellow: #f5f543;
--terminal-ansiCyan: #11a8cd;
--terminal-ansiGreen: #0dbc79;
--terminal-ansiMagenta: #bc3fbc;
--terminal-ansiRed: #cd3131;
--terminal-ansiWhite: #e5e5e5;
--terminal-ansiYellow: #e5e510;
--terminal-background: #1e1e1e;
--terminal-border: #80808059;
--terminal-foreground: #cccccc;
--terminal-selectionBackground: #ffffff40;
--titleBar-activeBackground: #3c3c3c;
--titleBar-activeForeground: #cccccc;
--titleBar-inactiveBackground: #3c3c3c99;
--titleBar-inactiveForeground: #cccccc99

 --token__meta_embedded: #D4D4D4;
--token__source_groovy_embedded: #D4D4D4;
--token__emphasis: undefined;
--token__strong: undefined;
--token__header: #000080;
--token__comment: #6A9955;
--token__constant_language: #569CD6;
--token__constant_numeric: #B5CEA8;
--token__entity_name_operator_custom-literal_number: #B5CEA8;
--token__variable_other_enummember: #B5CEA8;
--token__keyword_operator_plus_exponent: #B5CEA8;
--token__keyword_operator_minus_exponent: #B5CEA8;
--token__constant_regexp: #646695;
--token__entity_name_tag: #569CD6;
--token__entity_name_tag_css: #D7BA7D;
--token__entity_other_attribute-name: #9CDCFE;
--token__entity_other_attribute-name_class_css: #D7BA7D;
--token__entity_other_attribute-name_class_mixin_css: #D7BA7D;
--token__entity_other_attribute-name_id_css: #D7BA7D;
--token__entity_other_attribute-name_parent-selector_css: #D7BA7D;
--token__entity_other_attribute-name_pseudo-class_css: #D7BA7D;
--token__entity_other_attribute-name_pseudo-element_css: #D7BA7D;
--token__source_css_less entity_other_attribute-name_id: #D7BA7D;
--token__entity_other_attribute-name_attribute_scss: #D7BA7D;
--token__entity_other_attribute-name_scss: #D7BA7D;
--token__invalid: #F44747;
--token__markup_underline: undefined;
--token__markup_bold: #569CD6;
--token__markup_heading: #569CD6;
--token__markup_italic: undefined;
--token__markup_inserted: #B5CEA8;
--token__markup_deleted: #CE9178;
--token__markup_changed: #569CD6;
--token__punctuation_definition_quote_begin_markdown: #6A9955;
--token__punctuation_definition_list_begin_markdown: #6796E6;
--token__markup_inline_raw: #CE9178;
--token__punctuation_definition_tag: #808080;
--token__meta_preprocessor: #569CD6;
--token__entity_name_function_preprocessor: #569CD6;
--token__meta_preprocessor_string: #CE9178;
--token__meta_preprocessor_numeric: #B5CEA8;
--token__meta_structure_dictionary_key_python: #9CDCFE;
--token__meta_diff_header: #569CD6;
--token__storage: #569CD6;
--token__storage_type: #569CD6;
--token__storage_modifier: #569CD6;
--token__keyword_operator_noexcept: #569CD6;
--token__string: #CE9178;
--token__entity_name_operator_custom-literal_string: #CE9178;
--token__meta_embedded_assembly: #CE9178;
--token__string_tag: #CE9178;
--token__string_value: #CE9178;
--token__string_regexp: #D16969;
--token__punctuation_definition_template-expression_begin: #569CD6;
--token__punctuation_definition_template-expression_end: #569CD6;
--token__punctuation_section_embedded: #569CD6;
--token__meta_template_expression: #D4D4D4;
--token__support_type_vendored_property-name: #9CDCFE;
--token__support_type_property-name: #9CDCFE;
--token__variable_css: #9CDCFE;
--token__variable_scss: #9CDCFE;
--token__variable_other_less: #9CDCFE;
--token__source_coffee_embedded: #9CDCFE;
--token__keyword: #569CD6;
--token__keyword_control: #569CD6;
--token__keyword_operator: #D4D4D4;
--token__keyword_operator_new: #569CD6;
--token__keyword_operator_expression: #569CD6;
--token__keyword_operator_cast: #569CD6;
--token__keyword_operator_sizeof: #569CD6;
--token__keyword_operator_alignof: #569CD6;
--token__keyword_operator_typeid: #569CD6;
--token__keyword_operator_alignas: #569CD6;
--token__keyword_operator_instanceof: #569CD6;
--token__keyword_operator_logical_python: #569CD6;
--token__keyword_operator_wordlike: #569CD6;
--token__keyword_other_unit: #B5CEA8;
--token__punctuation_section_embedded_begin_php: #569CD6;
--token__punctuation_section_embedded_end_php: #569CD6;
--token__support_function_git-rebase: #9CDCFE;
--token__constant_sha_git-rebase: #B5CEA8;
--token__storage_modifier_import_java: #D4D4D4;
--token__variable_language_wildcard_java: #D4D4D4;
--token__storage_modifier_package_java: #D4D4D4;
--token__variable_language: #569CD6;
--token__entity_name_function: #DCDCAA;
--token__support_function: #DCDCAA;
--token__support_constant_handlebars: #DCDCAA;
--token__source_powershell variable_other_member: #DCDCAA;
--token__entity_name_operator_custom-literal: #DCDCAA;
--token__meta_return-type: #4EC9B0;
--token__support_class: #4EC9B0;
--token__support_type: #4EC9B0;
--token__entity_name_type: #4EC9B0;
--token__entity_name_namespace: #4EC9B0;
--token__entity_other_attribute: #4EC9B0;
--token__entity_name_scope-resolution: #4EC9B0;
--token__entity_name_class: #4EC9B0;
--token__storage_type_numeric_go: #4EC9B0;
--token__storage_type_byte_go: #4EC9B0;
--token__storage_type_boolean_go: #4EC9B0;
--token__storage_type_string_go: #4EC9B0;
--token__storage_type_uintptr_go: #4EC9B0;
--token__storage_type_error_go: #4EC9B0;
--token__storage_type_rune_go: #4EC9B0;
--token__storage_type_cs: #4EC9B0;
--token__storage_type_generic_cs: #4EC9B0;
--token__storage_type_modifier_cs: #4EC9B0;
--token__storage_type_variable_cs: #4EC9B0;
--token__storage_type_annotation_java: #4EC9B0;
--token__storage_type_generic_java: #4EC9B0;
--token__storage_type_java: #4EC9B0;
--token__storage_type_object_array_java: #4EC9B0;
--token__storage_type_primitive_array_java: #4EC9B0;
--token__storage_type_primitive_java: #4EC9B0;
--token__storage_type_token_java: #4EC9B0;
--token__storage_type_groovy: #4EC9B0;
--token__storage_type_annotation_groovy: #4EC9B0;
--token__storage_type_parameters_groovy: #4EC9B0;
--token__storage_type_generic_groovy: #4EC9B0;
--token__storage_type_object_array_groovy: #4EC9B0;
--token__storage_type_primitive_array_groovy: #4EC9B0;
--token__storage_type_primitive_groovy: #4EC9B0;
--token__meta_type_cast_expr: #4EC9B0;
--token__meta_type_new_expr: #4EC9B0;
--token__support_constant_math: #4EC9B0;
--token__support_constant_dom: #4EC9B0;
--token__support_constant_json: #4EC9B0;
--token__entity_other_inherited-class: #4EC9B0;
--token__keyword_control: #C586C0;
--token__source_cpp keyword_operator_new: #C586C0;
--token__keyword_operator_delete: #C586C0;
--token__keyword_other_using: #C586C0;
--token__keyword_other_operator: #C586C0;
--token__entity_name_operator: #C586C0;
--token__variable: #9CDCFE;
--token__meta_definition_variable_name: #9CDCFE;
--token__support_variable: #9CDCFE;
--token__entity_name_variable: #9CDCFE;
--token__meta_object-literal_key: #9CDCFE;
--token__support_constant_property-value: #CE9178;
--token__support_constant_font-name: #CE9178;
--token__support_constant_media-type: #CE9178;
--token__support_constant_media: #CE9178;
--token__constant_other_color_rgb-value: #CE9178;
--token__constant_other_rgb-value: #CE9178;
--token__support_constant_color: #CE9178;
--token__punctuation_definition_group_regexp: #CE9178;
--token__punctuation_definition_group_assertion_regexp: #CE9178;
--token__punctuation_definition_character-class_regexp: #CE9178;
--token__punctuation_character_set_begin_regexp: #CE9178;
--token__punctuation_character_set_end_regexp: #CE9178;
--token__keyword_operator_negation_regexp: #CE9178;
--token__support_other_parenthesis_regexp: #CE9178;
--token__constant_character_character-class_regexp: #D16969;
--token__constant_other_character-class_set_regexp: #D16969;
--token__constant_other_character-class_regexp: #D16969;
--token__constant_character_set_regexp: #D16969;
--token__keyword_operator_or_regexp: #DCDCAA;
--token__keyword_control_anchor_regexp: #DCDCAA;
--token__keyword_operator_quantifier_regexp: #D7BA7D;
--token__constant_character: #569CD6;
--token__constant_character_escape: #D7BA7D;
--token__entity_name_label: #C8C8C8;
--token__token_info-token: #6796E6;
--token__token_warn-token: #CD9731;
--token__token_error-token: #F44747;
--token__token_debug-token: #B267E6

    }
  </style>