<template>
    <div>
      <main>
        <div class="lp">
          <div class="leftsidebar">
              <div class="image"><img src={profilePic}></img></div>
              <div>{profileName}</div>
              <div>{username}</div>
              
          </div>
          <div class="rightsidebar">
            <div >Create New Project from template</div>
            <template for:each={templateList} for:item="item">
              <li key={item.name}>
                <button onclick={createProjectFromTemplate} data-path={item.path}>{item.name}</button>
              </li>
            </template>
          </div>
        </div>
      </main>
  
    </div>
  </template>