
.explorer-container{
    display: flex;
    flex-direction: column;
    background: var(--sideBar-background);
    height: 100%;
    overflow-y: hidden;
}
.explorer-container *{
    box-sizing: border-box;
}

.sidebar-main{
   
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 13px;
}
.sidebar-pane{
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--sideBar-background);
}
.sidebar-section{
    box-sizing: border-box;
    display: block;
    color: var(--foreground);
}
.tree-item-header{
    display: flex;
    align-items: stretch;
    height: 22px;
    padding: 0 5px;
    cursor: pointer;
    background: var(--sideBarSectionHeader-background,var(--debug));
    padding-left: 0px;

}
.arrow-icon{
    flex-shrink: 0;
    display: flex;
    color: inherit;
}
button{
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.tree-item-title{
    text-transform: uppercase;
    padding-left: 3px;
    font-size: 11px;
    user-select: none;
    letter-spacing: .5px;
    font-weight: 600;
    align-items: center;
    display: flex;
    margin: 0;
}
.sidebar-pane-content{
    display: flex;
    flex-direction: column;
}


