<template>
  <div class="menu">
    <div class="first">
      <div class="col">
        <button
          class="elements-module__Root___3quRt elements-module__Icon___3glnd Action"
          style="
            background-image: none;
            height: 50px;
           
            width: 50px;
            background-size: 50px;
            font-size: 50px;
            --size: 50px;
          "
        >
          <base-icon name="files"></base-icon>
        </button>
      </div>
      <div class="col">2</div>
    </div>

    <div class="last">
      <div class="col">4</div>
      <div class="col">3</div>
    </div>
  </div>
</template>
