.menu{

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-shrink: 0;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    z-index: 10;
    flex-grow: 1;
    background-color: var(--activityBar-background,var(--debug));
    border-color: var(--activityBar-border,var(--debug));
    border-right: 1px solid var(--activityBar-background);

}

button{
    outline:none;
    border:none;
}
.action{
    background-image: none;
    height: 50px;
    width: 50px;
    background-size: 50px;
    --size: 50px;
    color:var(--activityBar-foreground,var(--debug));
    border:none;
    opacity: .6;
}
.action:hover{
    opacity: 1;
}
.last{
    margin-top: auto;
}