.main{
    font-family: Lato,sans-serif;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.content{
    display: flex;
    flex-grow: 1;
    outline: none;
    position: relative;
}
.component{
    display:flex;
}
.menu .component{
    flex-shrink: 0;
}
.component-explorer{
    width: 200px;
}
.component-editor{
    display: flex;
    flex-grow: 1;
}
.component-output{
    min-width: 400px;
}