<template>
    <main class="main">
        <components-header onsavefiles={handleSaveFiles}></components-header>
        <div class="content">
            <components-menu class="component menu"></components-menu>
            <components-explorer class="component-explorer" onfileclick={handleFileClick} file-tree={fileTree}></components-explorer>
            <components-editor class="component-editor" file-tree={fileTree}></components-editor>
            <components-output class="component-output" file-tree={fileTree}></components-output>
          
        </div>
    </main>
</template>