<template>
  <div>
    <main>
      <!-- https://codepen.io/mirandalwashburn/pen/VwvLgvE -->
      <div class="lp">
        <!--- START: NAV -->
        <nav class="lp__nav">
          <div> <img src="resources/images/home1.png" class="lp__nav__logo">
            <p class="lp__nav__text">Force.dev</p>
          </div>
          <div> <template if:true={isGuest}>
             
              <components-login property={}></components-login>
            </template>
            <template if:false={isGuest}>
              <button>{username}</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button>Log out</button>
            </template></div>
        </nav>
        <!--- END: NAV -->

        <section class="lp__body">
          <!--- START: TEXT -->
          <div class="lp__text">
            <h1 class="lp__text__title"><span class="lp__text__title-first">Write, build, test and discover LWC
                components. </span>
            </h1>
            <p class="lp__text__subtext">Force.dev is not affiliated with Salesforce.com, inc. or force.com </p>
          </div>
          <!--- END: TEXT -->

          <!--- START: IMG -->
          <div class="lp__mainImg">
            <img src="resources/images/home.svg" class="lp__mainImg__img">
          </div>
          <!--- END: IMG -->
        </section>
      </div>
    </main>

  </div>
</template>