<template>
    <div class="editor-container">
        <div class="tabbar-root">
            <div class="tabbar-tabs" >
                <div class="tabbar-tabs-isfocused" >
                    <div class="tab-filename">
                        <base-icon name="codebracket" class="code-icon"></base-icon>
                        <span class="tab-filename-span1"><span
                                class="tab-filename-span2">package.json</span></span>
                    </div>
                    <!-- <button class="Tab-module__CloseTab___1IOiZ">×</button> -->
                </div>
            </div>
        </div>
        <iframe src={fullUrl} lwc:dom="manual"></iframe>
    </div>
</template>